In [2]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

## Easy stuff

In [19]:
# Load data for each of the https://www.basketball-reference.com/ sites
br_per100_url = "https://www.basketball-reference.com/leagues/NBA_2018_per_poss.html"
br_per100_data = pd.read_html(br_per100_url)[0]

br_adv_url  = "https://www.basketball-reference.com/leagues/NBA_2018_advanced.html"
br_adv_data = pd.read_html(br_adv_url)[0]

br_tot_url = "https://www.basketball-reference.com/leagues/NBA_2018_totals.html"
br_tot_data = pd.read_html(br_tot_url)[0]

In [20]:
br_per100_data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,ORtg,DRtg
0,1,Alex Abrines,SG,24,OKC,75,8,1134,5.0,12.7,...,5.0,1.2,1.7,0.4,1.1,5.4,15.4,NaN,116,110
1,2,Quincy Acy,PF,27,BRK,70,8,1359,4.6,13.0,...,9.1,2.0,1.2,1.0,2.1,5.3,14.7,NaN,99,110
2,3,Steven Adams,C,24,OKC,76,76,2487,8.9,14.2,...,13.7,1.8,1.8,1.6,2.6,4.3,21.1,NaN,125,107
3,4,Bam Adebayo,C,20,MIA,69,19,1368,6.4,12.5,...,14.0,3.7,1.2,1.5,2.4,5.1,17.5,NaN,116,105
4,5,Arron Afflalo,SG,32,ORL,53,3,682,4.7,11.6,...,4.7,2.2,0.3,0.6,1.5,4.0,12.8,NaN,98,115

In [59]:
import requests

# Load data for each of the http://stats.nba.com/leaders/
nba_stats_total_url = "http://stats.nba.com/leaders/?Season=2017-18&SeasonType=Regular%20Season&PerMode=Totals"
address = nba_stats_total_url

response = requests.get(address, headers={
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:46.0) Gecko/20100101 Firefox/46.0',
})
response.raise_for_status()         # Raise exception if invalid   response. 
#data = response.json()              # JSON decoding.

## NBA Stats Scrape

In [89]:
nba_stats_total_url = "http://stats.nba.com/leaders/?Season=2017-18&SeasonType=Regular%20Season&PerMode=Totals"

In [95]:
%matplotlib inline
from selenium import webdriver
from pandas import *
import pandas
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import *

In [103]:
## Set up chrome driver 
path_to_chromedriver = "/Users/jordangiebas/Downloads/chromedriver"
browser = webdriver.Chrome(executable_path=path_to_chromedriver)

In [104]:
## Open browser connection
url = 'https://stats.nba.com/leaders'
browser.get(url)

In [112]:
## Change the parameters to whatever you like

## This is for the correct seasson year
browser.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/div[1]/div[2]/div/div/label/select/option[2]').click()
## This is for "all" players option 
browser.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[3]/div/div/select/option[1]').click()

## Follow up, just need to prompt user to enter the season you want to look at and such.

In [115]:
# Get table from HTML
table = browser.find_element_by_class_name('nba-stat-table__overflow')

In [116]:
player_ids = []
player_names = []
player_stats = []

for line_id, lines in enumerate(table.text.split('\n')):
    if line_id == 0:
        column_names = lines.split(' ')[1:]
    else:
        if line_id % 3 == 1:
            player_ids.append(lines)
        if line_id % 3 == 2:
            player_names.append(lines)
        if line_id % 3 == 0:
            player_stats.append( [float(i) for i in lines.split(' ')] )

In [117]:
db = pandas.DataFrame({'player': player_names,
                       'gp': [i[0] for i in player_stats],
                       'min': [i[1] for i in player_stats],
                       'pts': [i[2] for i in player_stats],
                       'fgm': [i[3] for i in player_stats], 
                       'fga': [i[4] for i in player_stats],
                       'fg%': [i[5] for i in player_stats],
                       '3pm': [i[6] for i in player_stats],
                       '3pa': [i[7] for i in player_stats],
                       '3p%': [i[8] for i in player_stats],
                       'ftm': [i[9] for i in player_stats],
                       'fta': [i[10] for i in player_stats],
                       'ft%': [i[11] for i in player_stats],
                       'oreb': [i[12] for i in player_stats],
                       'dreb': [i[13] for i in player_stats],
                       'reb': [i[14] for i in player_stats],
                       'ast': [i[15] for i in player_stats],
                       'stl': [i[16] for i in player_stats],
                       'blk': [i[17] for i in player_stats],
                       'tov': [i[18] for i in player_stats],
                       'eff': [i[19] for i in player_stats]
                       }
                     )

In [118]:
db = db[['player', 
         'gp', 
         'min', 
         'pts', 
         'fgm', 
         'fga', 
         'fg%', 
         '3pm', 
         '3pa', 
         '3p%', 
         'ftm',
         'fta', 
         'ft%', 
         'oreb', 
         'dreb',
         'reb',
         'ast',
         'stl',
         'blk',
         'tov',
         'eff']
      ]

In [120]:
db.head()

,player,gp,min,pts,fgm,fga,fg%,3pm,3pa,3p%,...,fta,ft%,oreb,dreb,reb,ast,stl,blk,tov,eff
0,Russell Westbrook,81.0,34.6,31.6,10.2,24.0,42.5,2.5,7.2,34.3,...,10.4,84.5,1.7,9.0,10.7,10.4,1.6,0.4,5.4,33.8
1,James Harden,81.0,36.4,29.1,8.3,18.9,44.0,3.2,9.3,34.7,...,10.9,84.7,1.2,7.0,8.1,11.2,1.5,0.5,5.7,32.4
2,Isaiah Thomas,76.0,33.8,28.9,9.0,19.4,46.3,3.2,8.5,37.9,...,8.5,90.9,0.6,2.1,2.7,5.9,0.9,0.2,2.8,24.7
3,Anthony Davis,75.0,36.1,28.0,10.3,20.3,50.5,0.5,1.8,29.9,...,8.6,80.2,2.3,9.5,11.8,2.1,1.3,2.2,2.4,31.1
4,DeMar DeRozan,74.0,35.4,27.3,9.7,20.9,46.7,0.4,1.7,26.6,...,8.7,84.2,0.9,4.3,5.2,3.9,1.1,0.2,2.4,22.7

In [130]:
import os
os.system("mkdir Temp")

0

In [132]:
import tempfile
import shutil

dirpath = tempfile.mkdtemp()

In [133]:
dirpath

'/var/folders/yd/7dfknvfn52q6h4qyxd94xtj00000gn/T/tmp3l6qazwn'